.ui-datatable-odd {
    background: #ffffff;
}

.ui-datatable-even {
    background: #F2F5F9;
}
.red {
    background: #ff0000;
    color: #000;   
}
.blue {
    background: #0080c0;
      color: #000;
  
}
