.ui-datatable-odd {
    background: #ffffff;
}

.ui-datatable-even {
    background: #F2F5F9;
}
.red {
    background: #7f0000;
    color: #F2F5F9;
}
.blue {
    background: #0000FF;
    color: #F2F5F9;
}
